# The first part of your environment URL
# eg. `abc12345` if environment URL is https://abc12345.apps.dynatrace.com
DT_ENVIRONMENT_ID=abc12345
# Unless you know differently (you would), leave this as live
DT_ENVIRONMENT_TYPE=live
# Generate an API token and place it here
DT_API_TOKEN=TODO
# After you clone https://github.com/dynatrace/demo-crossplane
# to YOUR account, provide your details here
# Eg. If your URL is https://github.com/janeDoe/demo-crossplane
# This would be janeDoe/demo-crossplane
GITHUB_REPOSITORY=yourUsername/demo-crossplane